* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto; 
}

header {
    background-color: #1A0B2E;
    color: white;
}

.nav-container {
    width: 1600px;
    margin: 0 auto;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.gradient {
    background: linear-gradient(#a87b38, #f50dc3, #5223ca);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.nav-container ul {
    display: flex;
    list-style: none;
    gap: 32px;

}
.nav-container ul a {
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: white;
}
.subscription-btn {
    background: linear-gradient( #e9b15e, #f50dc3, #5223ca);
    border: none;
    padding: 12px 16px;
    border-radius: 22px;
    font-size: 16px;
    font-weight: 600;
    
}